<div id="home">
  <div id="homepage_bot">
    <iframe id="botkit_client" src=""></iframe>
  </div>

  <div id="welcome">
    <h1>Olá!</h1>
    <p><a href="#">Acessar painel</a></p>
    <p><a href="/chat.html">Usar em tela inteira</a></p>
    <p><a href="/audio.html">Interface de áudio</a></p>
    <p><a href="/embed">Código de embed</a></p>
    <p><a href="#">Documentação</a></p>
  </div>

</div>
<script src="/embed.js"></script>
<script>
  Botkit.boot({});
</script>

<script type="text/javascript">
var loc = window.location.toString(),
  params = loc.split('?')[1],
  iframe = document.getElementById('botkit_client');

iframe.src = '/chat.html?' + params
</script>
